.App {
  font-family: sans-serif;
  text-align: center;
}

.player {
  font-size: 25px;
}

.controlButton {
  font-size: 50px;
}

canvas {
  display: block;
  margin: 5% auto;
  box-shadow: -2px -2px 2px #efefef, 5px 5px 5px #b9b9b9;
  cursor: pointer;
  background-image: url("img/wooden_board.jpg");
}
